body {
 margin:0 auto;

}
h1 {
  font-size: 1.25em;
  text-align: center;
  background: #D0D0D0;
  color: #000;
  margin: 0;
  padding: 0.5em;
  font-family: Arial Black;
}
h2 {
  margin-top: 0;
  text-align: center;

}
footer a:link,
footer a:visited {
  color: #444;
}
footer a:hover {
  color: #888;
}

main > input,
section {
  display: none;
  padding: 1em;
  clear: both;
}
footer {
  position: relative;
  bottom: 0;
  background: black;
  width: 102%;
  margin-left: -1em;
}
footer p {
  padding: 0 1em;
  line-height: 2em;
  text-align: center;
	color: white;
}
/*
  displays and styles 'label' tags (for radio button 'input' tags)
*/
label {
  display: block;
  box-sizing: border-box;
  float: left;
  width: 25%;
  color: white;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: black;
  line-height: 2.2em;
  border-right: 1px solid #444;
	font-family: Arial;
	font-size: 25px;
	font-style: bold;
}
/* hides the tab text but leaves the icons visible: */
label span {
  display: none;
}
label:last-child {
  border-right: none;
}
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3, 
#tab4:checked ~ #content4{
  display: block;
}
/*
  Styles label elements (tabs) *only* when they're 'checked'
*/
[id^="tab"]:checked + label {
  background: #D0D0D0;
  color: #222;
}
[id^="tab"]:checked + label .fa {
  color: blue;
}


.tab-content {
  background: #fff;
}
.fa {
  margin-right: 10px;
}
.tab_container section * {
  animation: fadeIn 0.7s ease-in-out;
}

@keyframes fadeIn {

  0% { 
  	opacity: 0;
  }

  100% { 
  	opacity: 1;
  }
  
}
.bit{
	width:20%;
}
.form{
background: #D0D0D0;	
text-align: center;


}
.mySlides {
	width:100%;
}

#map{
height:400px;
}

.show {
  display: block !important;
}
.hide {
  display: none !important;
}
#jsshowhide p {
  display: none;
	
}
#jsshowhide h3 {
  cursor: pointer;
  display: inline;
}
.plus {
  display: inline;
}
.minus {
  display: none;
}
#jsshowhide{
	background-color:#D0D0D0;
}
#searchForm{
	background-color:#D0D0D0;
}

.unclear{
	background-color:#D0D0D0;
}
figure {
  width: 200px;
 overflow: hidden;
}

figure img {
  
  height: 150px;
  margin-bottom: -4em;
  display: block;
}

figcaption {
  box-sizing: border-box;
  height: 4em;
  line-height: 1.2em;
  padding: .25em;
  transform: translateY(4em);
  background: #fff;
  /* background: rgba( 255, 255, 255, 0 ); */
  opacity: 0;
  transition: all .5s;
}

/* 
  These styles are applied to the `figcaption` element when hovering 
  over the`figure` element. The `transition` property on `figcaption` 
  above is then applied to `all` these hover styles, over 0.5 seconds.
*/
figure:hover figcaption {
  transform: translateY(0em);
  /* background: rgba( 255, 255, 255, .78 ); */
  opacity: .78;
}





/* } */

  
@media only screen and (min-width: 500px) {
  h1 {
    font-size: 2em;
  }
  /* shows the tab text and the icons: */
  label span {
    display: inline;
  }

body{
	margin-left:10%;
	margin-right:10%;
 }
 
slideshow {
  margin: 2em auto 1em;
  overflow: hidden;
  position: relative;
}
.slideshow img {

  width: 50%;
  margin-left:10%;
  animation: round 16s infinite;
  opacity: 0;
}
.bit{
	width:10%;
}
figure {
  width: 250px;
	padding: 50px 200px;
 overflow: hidden;
}
figure img {
  width:100%;
  height: 300px;
  margin-bottom: -4em;
  display: block;
}

figcaption {
  box-sizing: border-box;
  height: 4em;
  line-height: 1.2em;
  padding: .25em;
  transform: translateY(4em);
  background: #fff;
  /* background: rgba( 255, 255, 255, 0 ); */
  opacity: 0;
  transition: all .5s;
}




}	

.slideshow{
		height:800px;
	}
}

/* SECOND BREAKPOINT (DESKTOP SIZE) */
@media screen and (min-width: 1000px) {
 
.form{
background: #D0D0D0;	
text-align: center;
width:50%;
}
.mySlides {
	
max-width:1000px;

}




  
  
}

